<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>xulrunner</string>
	<key>CFBundleGetInfoString</key>
	<string>ElasticfoxX</string>
	<key>CFBundleIconFile</key>
	<string>AMAZON.icns</string>
	<key>CFBundleIdentifier</key>
	<string>xulrunner.elasticfox</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Elasticfox</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.4.2</string>
	<key>CFBundleSignature</key>
	<string>EFOX</string>
	<key>CFBundleVersion</key>
	<string>0.0.1.20070616-0.4.2</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
</dict>
</plist>
